.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  border-spacing: 0;
  border: 1px solid black;
}

th, td {
  padding: 0.5rem;
  border: 1px solid gray;
}

th {
  background-color: green;
  border-bottom: 3px solid blue;
  color: white;
  font-weight: bold;
}

