.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
} */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #a6202a;
  color: white;
  max-height: 2vh;
}

.body {
  height: 90vh;
  width: 100vw;
  background-image: url(https://igracias.telkomuniversity.ac.id/styles/201706/images/BACKGROUND1.jpg);
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

.footer {
  position: fixed;
  width: 100%;
  max-height: 5vh;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #a6202a;
  color: white;
}
